body {
    color: white;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #76D6EE;
}

a {
    text-decoration: none;
}

a:hover, a:visited {
    text-decoration: none;
    color: #1e1e1e;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}


/*HEADER*/
header {
    max-width: 970px;
    margin: 1.25em auto;
}

.header {
    float: right;
    padding-right: 1em;
}

.header a {
    text-decoration: none;
    font-size: 1.1em;
}
/*HEADER END*/

/*PARALLAX SCENES*/
.scene {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 67.5em;
    width: 120em;
}

.scene div {
    position: absolute;
}

.scene1{
    bottom: 0;
    margin-bottom: -15em;
    z-index: 30;
}

.scene2{
    top: 3.75em;
    left: 13.75em;
    z-index: 20;
}

.scene3{
    bottom: 15.625em;
    left: 2.5em;
    z-index: 10;
}
/*PARALLAX SCENES END*/

/*MAIN-AREA*/
.main-area {
    max-width: 970px;
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding: 4em 0 2em 0;
    text-align: center;
    z-index: 30;
}

.img-logo {
    width: 34em;
    margin: auto;
}

.bonus {
    font-family: verdana, sans-serif;
    font-weight: normal;
    font-size: 4em;
    text-transform: uppercase;
}

.bonus > span {
    font-size: 1.5em;
    font-weight: bold;
}

.description {
    padding: 0.5em 0;
    font-size: 1.7em;
}

.but-descr {
    padding: 0.75em 0;
    font-size: 1.3em
}

.coin {
    width: 290px!important;
    overflow: hidden;
    z-index: 40;
    position: absolute!important;
    top: 6em!important;
    left: 90%!important;
}

.button {
    overflow: hidden;
    z-index: 40;
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.3em 1.8em 0.3em 0.7em;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    background: yellow;
    color: #1e1e1e;
    text-decoration: none;
    background: rgba(255,204,0,1);
background: -moz-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(249,183,0,1) 31%, rgba(240,128,0,1) 64%, rgba(240,128,0,1) 86%, rgba(240,128,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,204,0,1)), color-stop(31%, rgba(249,183,0,1)), color-stop(64%, rgba(240,128,0,1)), color-stop(86%, rgba(240,128,0,1)), color-stop(100%, rgba(240,128,0,1)));
background: -webkit-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(249,183,0,1) 31%, rgba(240,128,0,1) 64%, rgba(240,128,0,1) 86%, rgba(240,128,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(249,183,0,1) 31%, rgba(240,128,0,1) 64%, rgba(240,128,0,1) 86%, rgba(240,128,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(249,183,0,1) 31%, rgba(240,128,0,1) 64%, rgba(240,128,0,1) 86%, rgba(240,128,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,204,0,1) 0%, rgba(249,183,0,1) 31%, rgba(240,128,0,1) 64%, rgba(240,128,0,1) 86%, rgba(240,128,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#f08000', GradientType=0 );

}
/*BUTTON HOVER LINE*/
.button:before {
    -webkit-transition: transform 0s;
    -ms-transition: transform 0s;
    transition: transform 0s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 100%;
    background: white;
    opacity: 0.4;
    -webkit-transform: skew(-25deg) translate(-1.5em);
    -ms-transform: skew(-25deg) translate(-1.5em);
    transform: skew(-25deg) translate(-1.5em);
}

.fa {
    position: absolute;
    padding: 0.0625em 0;
    right: 0.4em;
}

.fa2 {
    right: 1em;
}

.hover-button .button:before, .button:hover:before {
    -webkit-transition: transform 0.7s;
    -ms-transition: transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform: skewX(-16deg) translate(8em);
    -ms-transform: skewX(-16deg) translate(8em);
    transform: skewX(-16deg) translate(8em);
}
/*MAIN-AREA END*/

/*FOOTER*/
.main-footer {
    position: absolute;
    max-width: 970px;
    left: 50%;
    bottom: 0;
    font-size: 10px;
    line-height: 120%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.bank-cards {
    list-style: none;
    text-align: center;
}

.bank-cards li {
    width: 6.4em;
    height: 4em;
    background: url('../img/logos-color.png') no-repeat;
    display: inline-block;
}

.bank-cards li.visa {
    background-position: -95px 5px;
}

.bank-cards li.master-card {
    background-position: -156px 5px;
}

.main-footer p {
    font-size: 1.15em;
    text-align: center;
}
/*FOOTER END*/

/*MEDIA QUERIES*/

@media only screen and (max-width: 415px) {
    .main-area .bonus {
      font-size: 30px;
    }
    .img-logo {
        font-size: 10px;
        width: 20em;
        margin: 1em;
    }
    .button {
        font-size: 2em !important;
    }
}

@media only screen and (min-width: 416px) and (max-width: 641px) {
    .main-area .bonus {
      font-size: 40px;
    }
}

@media only screen and (max-device-width:1025px) {
    .wrapper {
        overflow-y: visible!important;
    }
    .coin {
        position: relative!important;
        top: 0!important;
        left: 50%!important;
        transform: translate(-50%)!important;
        padding-bottom: 3em;
    }
    .coin img {
        overflow: hidden;
    }
    .main-footer {
        position: relative!important;
        width: 100%;
        bottom: 0;
        padding: 10px 15px 0;
    }
}